body {
    background-color: black;
    color: antiquewhite;
}
.header-container {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    "header nav nav"
    "article1 article1 article1"
    "ads article2 article2"
    "footer footer footer";
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100vh;
    margin: 0;
}
.title, .page-footer, .nav-bar, .article1, .article2, .ads {
    padding: 20px;
}
.header-container {
    border: 2px white solid;
}
.title {
    grid-area: header;
    border: 2px white solid;
    grid-row-start: 1;
    grid-row-start: 3;
}
.nav-bar {
    grid-area: nav;
    border: 2px white solid;
}
.article1 {
    grid-area: article1;
    border: 2px white solid;
}
.ads {
    grid-area: ads;
    border: 2px white solid;
}
.article2 {
    grid-area: article2;
    border: 2px white solid;
}
.page-footer {
    grid-area: footer;
    background-color: gray;
    text-align: center;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {

}
placeholder {

}